</br>
<body>
  <div id="options">
    <div class="row">
    <div class="col s8">
     <%= link_to "New UserPage", new_users_pages_path, id: "new_link", remote: true %>
      <table class="striped">
        <thead>
          <tr>
           <th data-field="id">Name</th>
          </tr>
        </thead>
        <tbody id="pages">
          <% @pages.each do |page| %>
           <tr>
            <td><%= page.host %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    
     <!-- Add page and display current existing ones -->
    </div>
  </div>
    <div id="main">
    </div>
<style>
</style>
</body>
